.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #f5f5f5;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 12px 25px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.hero-btn:hover {
  background-color: orange;
}