.contact {
    padding: 60px 20px;
    text-align:center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 15px;
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  font-size: 16px;
}

.contact-form button {
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: orange;
}