.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 15px 30px;
    color: white;
}

.logo {
  font-size: 22px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
  font-size: 16px;
}

.nav-links li:hover {
  color: orange;
}